---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

const title = frontmatter.title ? `${frontmatter.title} - Blog` : "Blog";

// Build the subtitle
// Example:
//  if both author and date are present: "by John Doe on 2021-01-01"
//  if only author is present: "by John Doe"
//  if only date is present: "on 2021-01-01"
let subtitle = "";
let subtitle_visible = false;

if (frontmatter.author) {
  subtitle += `by ${frontmatter.author}`;
}

if (frontmatter.date) {
  subtitle += ` on ${frontmatter.date}`;
}

if (subtitle) {
  subtitle_visible = true;
}
---

<BaseLayout url={frontmatter.url} title={title} description={frontmatter.description}>
  <div class="divide-y-8 md:divide-y-0 divide-slate-500/10 divide-solid">
    <div class="m-8">
      <h1 class="text-6xl md:text-7xl font-display font-black m-3 text-center">
        {frontmatter.title}
      </h1>
      <p hidden={!subtitle_visible} class="text-center text-slate-400">
        {subtitle}
      </p>
    </div>

    <style is:global>
      .prose-2xl ul {
        @apply list-disc list-inside;
      }
      .prose-2xl ol {
        @apply list-decimal list-inside;
      }
    </style>

    <div class="flex justify-center items-center mt-8">
      <article class="prose-2xl m-4 my-8 max-w-prose">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>
